.btn-scroll {
  position: fixed;
  right: 0;
  transition: .6s;
  bottom: 0;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 50%;
  outline: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  line-height: 1.2;
  cursor: pointer;
  & svg {
    transform: rotate(-90deg);
    width: 24px;
    height: 24px;
    fill: #aaaaaacc;
  }
}