.spinner-border {
    position: fixed;
    width: 2rem;
    height: 2rem;
    border-width: 3px;
    z-index: 99999;
    left: 49%;
    top: 49%;

    @media (max-width: 768px) {
        left: 46%;
    }
}